/* CSS Document */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video,button, input,  select, textarea{
margin: 0;
padding: 0;
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
display: block;
}
h1,h2,h3,h4,h5,h6 { 
    font-weight: normal; 
    font-size: 100%; 
} 
ul, ol {
list-style: none;
}
table {
border-collapse: collapse;
border-spacing: 0;
}
body, button, input,  select, textarea{
  font: 14px/1.5 Tahoma,  Helvetica,  Arial,  "\5FAE\8F6F\96C5\9ED1",  sans-serif;
  color:#666;
}

blockquote, q {
quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
content: '';
content: none;
}
a {
  color:#666;
text-decoration: none;
}
a:hover {
text-decoration:  underline;
}
fieldset, img {
border: none;
}
address, cite, dfn, em, var {
font-style: normal;
}
code, kbd, pre, samp, tt {
font-family: "Courier New", Courier, monospace;
}
small {
font-size: 12px;
}
.clearfix:after {
    content:"";
    display:table;
    clear:both;
}

input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button {
-webkit-appearance: none;
}
input[type="search"] {
-webkit-appearance: textfield;
/* 1 */ box-sizing: content-box;
/* 2 */;
}
input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
-webkit-appearance: none;
}


html {
  -ms-touch-action: none;
}
